/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


h1 {
  font-family: "Italic", serif;
}

/******************************************
/* LAYOUT
/*******************************************/
nav * {
  list-style: none;
  float: left;
  width: 15%;
}

ul {
  width: 80%;
  padding-left: 300px;
  margin-left: 300px;
}

nav ul li a {
  text-decoration: none;
  width: 50%;
  text-align: right;
  color: #000;
}

.welcome-sect,
.about-sect,
.order-sect,
.booking-sect,
.review-sect {
  float: left;
  width: 100%;
  height: 600px;
  padding: 15px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.top-img-wrapper {
  background-image: url('../img/welcom-sect-pic.jpg');
  background-size: cover;
  min-height: 700px;
}

.welcome-sect {
  margin-top: 30px;
  padding-left: 60px;
}

.welcome-sect h1 {
  margin: 0;
  width: 35%;
  font-size: 60px;
}

.welcome-sect>form {
  padding-top: 10px;
}

.welcome-sect>form input {
  width: 25%;
  height: 40px;
}

.welcome-sect select {
  height: 40px;
  width: 120px;
  text-align: center;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 0.2em;
}

.welcome-sect ul {
  padding: 5px;
  margin: 0;
  margin-top: 30px;
  list-style: none;
}

.welcome-sect li {
  display: inline-block;
  margin-right: 10px;

}

.welcome-sect li i {
  color: orange;
}

.about-sect {
  background-image: url('../img/about-sect-pic.jpg');
  background-size: cover;
}

.about-sect>div {
  width: 70%;
  padding: 130px;
  margin-left: 250px;
}

.about-sect h1 {
  font-size: 50px;
}

.about-sect span {
  color: orange;
  font-size: 20px;
}

.about-sect button {
  margin-top: 30px;
  width: 170px;
  height: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0.2em;
}

.order-sect {
  background-color: aliceblue;
  text-align: center;
}

.order-sect span {
  color: orange;
  padding: 15px;
}

.order-sect h1 {
  font-size: 40px;
}

.order-sect ul {
  padding: 0;
  margin: 0 auto;

}

.order-sect li {
  display: inline-block;
  text-align: center;
  padding: 20px;

}

.order-sect a {
  text-decoration: none;
  color: #000;
}

.order-pics {
  width: 50%;
  margin: 0 auto;
}

.order-pics div {
  float: left;
  width: 25%;
}

.order-pics img {
  width: 200px;
  height: 300px;
}